.product-wrapper {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem 2rem 2rem;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: flex-start;
    border-radius: 0.6rem;
    /* background-color: #19A7CE; */
    box-shadow: 10px 7px 15px -6px rgba(125, 125, 125, 0.87);
    -webkit-box-shadow: 10px 7px 15px -6px rgba(125, 125, 125, 0.87);
    -moz-box-shadow: 10px 7px 15px -6px rgba(125, 125, 125, 0.87);
}

.product-wrapper input {
    align-self: flex-start;
}